<button class="button" [ngClass]="{ 'is-inactive': isInactive, 'active': isActive }" [title]="action">
  <container-element [ngSwitch]="source">
    <span class="iconify" data-icon="feather:download-cloud" data-width="19" data-height="19"
      *ngSwitchCase="'download'"></span>
    <span class="iconify" data-icon="feather:edit-2" data-width="19" data-height="19" *ngSwitchCase="'rename'"></span>
    <span class="iconify" data-icon="feather:trash-2" data-width="19" data-height="19" *ngSwitchCase="'trash'"></span>
    <span class="iconify" data-icon="feather:info" data-width="19" data-height="19" *ngSwitchCase="'info'"></span>
    <span class="iconify" data-icon="feather:link" data-width="19" data-height="19" *ngSwitchCase="'share'"></span>
    <span class="iconify" data-icon="feather:x" data-width="19" data-height="19" *ngSwitchCase="'close'"></span>
    <span class="iconify" data-icon="feather:cloud-off" data-width="19" data-height="19"
      *ngSwitchCase="'shared-off'"></span>
  </container-element>
</button>
