<div id="application-wrapper">

  <!-- Full File Preview -->

  <!-- Mobile Navigation -->
  <!-- <app-mobile-navigation [hidden]="hiddenMobileNavigation"></app-mobile-navigation> -->

  <!-- Confirm Popup -->
  <!-- <app-confirm [hidden]="hiddenConfirm"></app-confirm> -->

  <!-- Rename folder or file item -->
  <!-- <app-rename-item [hidden]="hiddenRenameItem"></app-rename-item> -->

  <!-- Create folder in mobile version -->
  <!-- <app-create-folder [hidden]="hiddenCreateFolder"></app-create-folder> -->

  <!-- Move item setup -->
  <!-- <app-move-item [hidden]="hiddenMoveItem"></app-move-item> -->

  <!-- Upload file in mobile version -->
  <!-- <app-upload-file [hidden]="hiddenUploadFile"></app-upload-file> -->

  <!-- Navigation Sidebar -->
  <app-menu-bar></app-menu-bar>

  <!-- Toastr -->

  <!-- File page -->
  <div fxFlex>
    <router-outlet class="hidden-router"></router-outlet>
  </div>

</div>

<app-vignette [hidden]="hiddenVignette"></app-vignette>
