@import 'src/assets/scss/file-manager/_variables';
@import 'src/assets/scss/file-manager/_mixins';

.button {
  height: 25px;
  width: 25px;
  border-radius: 3.5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  border: none;
  @include transition(150ms);
  background: transparent;

  &.active {
    ::ng-deep svg {

      path,
      line,
      polyline,
      rect,
      circle {
        stroke: $theme;
      }
    }
  }

  &.is-inactive {
    opacity: 0.25;
    pointer-events: none;
  }

  &:hover {
    background: $dark_mode_background;

    path,
    line,
    polyline,
    rect,
    circle {
      @include transition(150ms);
      stroke: $theme;
    }
  }
}

.check-select {
  margin-right: 10px;
  margin-left: 3px;
  position: absolute;
  top: -10px;
  z-index: 5;
  left: 0px;
}

.check-select-folder {
  margin-right: 10px;
  margin-left: 3px;
  position: absolute;
  top: 8px;
  z-index: 5;
  left: 10px;
}

.select-box {
  width: 20px;
  height: 20px;
  background-color: $light_background;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 15px 2px hsla(220, 36%, 16%, 0.05);
}

.select-box-active {
  background-color: $theme;

  .icon {
    stroke: white;
  }
}


.show-actions {
  cursor: pointer;
  padding: 4px 26px;

  .icon-action {
    @include font-size(12);
  }

  path {
    fill: $theme;
  }
}

.file-wrapper {
  user-select: none;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: text-top;
  width: 100%;

  .item-name {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;

    .item-size,
    .item-length {
      @include font-size(11);
      font-weight: 400;
      color: rgba($text, 0.7);
      display: inline-block;
    }

    .item-info {
      display: block;
      line-height: 1;
    }

    .item-shared {
      display: inline-block;

      .label {
        @include font-size(12);
        font-weight: 400;
        color: $theme;
      }

      .shared-icon {
        vertical-align: middle;

        path,
        circle,
        line {
          stroke: $theme;
        }
      }
    }

    .name {
      color: $text;
      @include font-size(14);
      font-weight: 700;
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;

      &[contenteditable] {
        -webkit-user-select: text;
        user-select: text;
      }

      &[contenteditable='true']:hover {
        text-decoration: underline;
      }

      &.actived {
        max-height: initial;
      }
    }
  }

  &.selected {
    .file-item {
      background: $light_background;
    }
  }

  .file-item {
    border: 2px dashed transparent;
    width: 165px;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    padding: 15px 0;

    &.is-dragenter {
      border: 2px dashed $theme;
      border-radius: 8px;
    }

    &.no-clicked {
      background: white !important;

      .item-name {
        .name {
          color: $text !important;
        }
      }
    }

    &:hover,
    &.is-clicked {
      border-radius: 8px;
      background: $light_background;
    }
  }

  .icon-item {
    text-align: center;
    position: relative;
    height: 110px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;


    .file-link {
      display: block;
    }

    .file-icon {
      @include font-size(100);
      margin: 0 auto;

      path {
        fill: #fafafc;
        stroke: #dfe0e8;
        stroke-width: 1;
      }
    }

    .file-icon-text {
      margin: 5px auto 0;
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      color: $theme;
      @include font-size(12);
      font-weight: 600;
      user-select: none;
      max-width: 65px;
      max-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .image {
      max-width: 95%;
      object-fit: cover;
      user-select: none;
      height: 110px;
      border-radius: 5px;
      margin: 0 auto;
      pointer-events: none;
    }

    .folder {
      width: 80px;
      height: 80px;
      margin: auto;

      /* /deep/ >> ::ng-deep */
      ::ng-deep .folder-icon {
        @include font-size(80)
      }
    }
  }
}

@media only screen and (max-width: 960px) {

  .file-wrapper {

    .icon-item {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 690px) {
  .file-wrapper {

    .file-item {
      width: 120px;
    }

    .icon-item {
      margin-bottom: 10px;
      height: 90px;

      .file-icon {
        @include font-size(75);
      }

      .file-icon-text {
        @include font-size(12);
      }


      .folder {
        width: 75px;
        height: 75px;
        margin-top: 0;
        margin-bottom: 0;

        ::ng-deep .folder-icon {
          @include font-size(75)
        }
      }

      .image {
        width: 90px;
        height: 90px;
      }
    }

    .item-name .name {
      @include font-size(13);
      line-height: .9;
      max-height: 30px;
    }
  }
}

@media (prefers-color-scheme: dark) {

  .select-box {
    background-color: lighten($dark_mode_foreground, 10%);
  }

  .select-box-active {
    background-color: lighten($theme, 5%);

    .icon {
      stroke: white;
    }
  }

  .file-wrapper {

    .icon-item {

      .file-icon {

        path {
          fill: $dark_mode_foreground;
          stroke: #2F3C54;
        }
      }
    }

    .file-item {
      &.no-clicked {
        background: $dark_mode_background !important;

        .file-icon {

          path {
            fill: $dark_mode_foreground !important;
            stroke: #2F3C54;
          }
        }

        .item-name {

          .name {
            color: $dark_mode_text_primary !important;
          }
        }
      }

      &:hover,
      &.is-clicked {
        background: $dark_mode_foreground;

        .file-icon {

          path {
            fill: $dark_mode_background;
          }
        }
      }
    }

    .item-name {

      .name {
        color: $dark_mode_text_primary;
      }

      .item-size,
      .item-length {
        color: $dark_mode_text_secondary;
      }
    }

  }
}
