<div fxFlexFill="">
  <section id="viewport">

    <div id="files-view">
      <div class="text-content" *ngIf="!isLoading">
        <!-- <app-context-menu></app-context-menu> -->

        <!-- <DesktopSortingAndPreview /> -->

        <app-desktop-toolbar name="My drive" placeholderSearch="Search files or images ..."></app-desktop-toolbar>

        <!-- <app-file-browser></app-file-browser> -->
      </div>

      <div class="text-content" *ngIf="isLoading">
        <app-spinner></app-spinner>
      </div>
    </div>

  </section>
</div>
